apiVersion: batch/v1
kind: Job
metadata:
  name: pi-solver
spec:
  completions: 100
  backoffLimit: 4
  template:
    spec:
      containers:
      - name: pi-solver
        image: ${REPO}/pi-solver:${BUILDVERSION}
      restartPolicy: Never
